@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
     'primary': (
      'base': #008c8c,
    ),
    'success': (
      'base': #67c23a,
    ),
    'warning': (
      'base': #e6a23c,
    ),
    'danger': (
      'base': #f56c6c,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #909399,
    ),
  ),
);
@use "element-plus/theme-chalk/src/index.scss" as *;

.el-dialog {
  border-radius: 12px !important;
  background: #252429 !important;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .el-dialog__header {
    .el-dialog__title {
      color: white;
    }
  }
}
